@model IEnumerable<Rental>

@{
    ViewData["Title"] = "Użytkownicy";
}

<div class="container p-3">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Lista użytkowników</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Rental" asp-action="Create" class="btn btn-primary">
                Dodaj nowego użytkownika
            </a>
        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-brodered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Imię i nazwisko
                    </th>
                    <th>
                        Adres
                    </th>
                    <th>
                        Numer telefonu
                    </th>
                    <th>
                        Adres e-mail
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="20%">@obj.CustomerName</td>
                    <td width="25%">@obj.CustomerAddress</td>
                    <td width="15%">@obj.PhoneNumber</td>
                    <td width="15%">@obj.AddressEmail</td>
                    <td class="text-center">
                        <div class="w-75 vtn-group" role="group">
                            <a asp-controller="Rental" asp-route-Id="@obj.RentalId" asp-action="Edit" class="btn btn-success">
                                Edytuj
                            </a>
                            <a asp-controller="Rental" asp-route-Id="@obj.RentalId" asp-action="Delete" class="btn btn-danger">
                                Usuń
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>Nie ma użytkowników w bazie</p>
        }
</div>