@model IEnumerable<Cars>

@{
    ViewData["Title"] = "Samochody";
}

<div class="container p-3">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Lista samochodów</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Cars" asp-action="Create" class="btn btn-primary">
                Dodaj nowy samochód
            </a>
        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-brodered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Marka pojazdu
                    </th>
                    <th>
                        Numer rejestracyjny
                    </th>
                    <th>
                        Typ samochodu
                    </th>
                    <th>
                        Czy jest dostępny?
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="25%">@obj.Name</td>
                    <td width="20%">@obj.CarNumber</td>
                    <td width="20%">@obj.CarType</td>
                    @if (@obj.CarRental.Count() > 0)
                    {
                        @if (@obj?.CarRental[0]?.RentTo > @DateTime.Now && @obj?.CarRental[0]?.RentFrom < @DateTime.Now)
                        {
                            <td width="10%">Niedostępny</td>
                        }
                        else
                        {
                            <td width="10%">Dostępny</td>
                        }
                    }
                    else
                    {
                        <td width="10%">Dostępny</td>
                    }
                    <td class="text-center">
                        <div class="w-75 vtn-group" role="group">
                            <a asp-controller="Cars" asp-route-Id="@obj.CarId" asp-action="Edit" class="btn btn-success">
                                Edytuj
                            </a>
                            <a asp-controller="Cars" asp-route-Id="@obj.CarId" asp-action="Delete" class="btn btn-danger">
                                Usuń
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nie ma samochodów w bazie</p>
    }
</div>